{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KorokNET{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <link href="{% static 'style.css'%}" rel="stylesheet">
    <link href="{% static 'bootstrap.css'%}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Корочки.есть</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Главная</a>
                    </li>
                    
                    {% if user.is_authenticated %}
                        <!-- Пункты для авторизованных пользователей -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'applications' %}">Просмотр заявок</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_application' %}">Формирование заявки</a>
                        </li>
                        
                        
                    {% else %}
                        <!-- Пункты для неавторизованных -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Авторизация</a>
                        </li>
                    {% endif %}
                </ul>
                
                <!-- Информация о пользователе -->
                {% if user.is_authenticated %}
                <span class="navbar-text me-3">
                    <i class="fas fa-user"></i> {{ user.username }}
                </span>
                <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm">Выйти</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
    <footer style="text-align: center;">2026</footer>
    <script src="{% static 'bootstrap.bundle.js'%}"></script>
</body>
</html>