@font-face {
    font-family: 'GreatVibes';
    src: url('../static/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'GreatVibes';
}


